build
coverage
config
dist
es
lib
lambda
public
node_modules
.yarn
.history
mock
scripts
demo
demos
example
examples
template
templates

**/.umi
**/.umi-production
**/services

**/*.min.js
**/*-min.js
**/*.bundle.js
**/*.min.css
**/*-min.css
